.App {
  font-family: sans-serif;
  text-align: center;
}

.text-center {
  text-align: center;
}

.heading1 {
  color: brown;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.heading2 {
  color: #e91e63;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.description {
  color: #666;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.product-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.product-card {
  margin: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 0.5rem;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.product-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.product-details {
  margin-left: 2rem;
}

.product-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.5rem;
}

.product-name:hover {
  color: #e91e63;
}

.product-description {
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
}

.product-price {
  font-size: 1rem;
  color: #333;
}

.product-category {
  font-size: 1rem;
  color: #333;
}

.product-website {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.product-website:hover {
  background-color: #45a049;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 0;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-button:hover {
  background-color: #45a049;
}

.sort-button {
  padding: 0.5rem 1rem;
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 1.5rem;
}

.sort-button:hover {
  background-color: #c2185b;
}
